* {
	margin: 0;
	padding: 0;
	border: 1px solid black;
}

html, body {
	height: 100vh;
}

main {
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50%;
	transform: translate(0, -50%);
}